@import '../../config.scss';

.landing-body{
  font-family: $font-stack1;
  font-size: 1.125rem;
  font-weight: 300;
}

img{
  max-width: 100%;
  display: block;
}

//Typography

h1,
h2,
h3{
  font-family: $font-stack2;
  font-weight: 400;
  color: #143774;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

a {
  color: #1792d2;
  text-decoration: underline;

  &:hover,
  &:focus{
    color: #143774;
    cursor: pointer;
  }
}

strong{
  font-weight: 700;
}

//h1 subtitle
.subtitle {
  font-weight: 700;
  color: #1792D2;
  font-size: .75rem;
  margin: 0;
}

.article-title{
  font-size: 1.5rem;
}

.article-info,
.article-read-more{
  font-size: 0.875rem;
}

.article-read-more{
  color: #1792d2;
  text-decoration: none;
  font-weight: 700;

  &:hover,
  &:focus{
    color: #143774;
    text-decoration: underline;
    cursor: pointer;
  }
}




//Layout

.container{
  width: 90%;
  max-width: 900px;
  // border: solid blue;
  margin: 0 auto;
}

.container-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


header{
  // text-align: center;
  background: #F8F8F8;
  text-align: center;
  padding: 2em 0;
  margin-bottom: 3em;
}

// Navigation
nav ul{
  list-style: none;
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

nav a{
  text-decoration: none;
  font-weight: 700;
  color: #707070;

  &:hover,
  &:focus{
    color: rgb(59, 59, 59);
  }
}

@media(min-width: 675px){
  nav ul{
    flex-direction: row;
  }

  nav li{
    margin-left: 2em;
  }
}

@media(min-width: 675px){
  .container-flex{
    flex-direction: row;
  }

  main {
    width: 66%;
  }

  aside {
    width: 30%;
    min-width: 200px;
    margin-left: 1em;
  }
}

//article

.article-featured{
  border-bottom: #707070 1px solid;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.article-recent{
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.article-recent-main{
  order: 2;
}

.article-recent-seconday{
  order: 1;
}

.article-info{
  margin: 2.5em 0;
}


@media(min-width: 675px){
  .article-recent{
    flex-direction: row;
    justify-content: space-between;
  }

  .article-recent-main{
    width: 68%;
  }

  .article-recent-secondary{
    width: 30%;
  }

  .article-featured{
    display: flex;
    flex-direction: column;
  }

  .article-image{
    width: 100%;
    min-height: 250px;
    object-fit: cover;
    // object-position: 50%; //part of the image you wish to display
    order: -2;
  }

  .article-info{
    order: -1;
  }

}

//widgets
.sidebar-widget{
  border: #EBEBEB 20px solid;
  margin-bottom: 2em;
  padding: 1.25em;
}

.widget-recent-posts-title{
  font-size: 1.15rem;
}

.widget-title{
  font-size: 1.5rem;
  font-family: $font-stack1;
  font-weight: 700;
}

.widget-recent-posts{
  display: flex;
  flex-direction: column;
  border-bottom: #707070 1.5px solid;
  margin-bottom: 1.25em;
}

.widget-recent-posts:last-child{
  border-bottom: none;
  margin-bottom: 0em;
}
.widget-image{
  order: -2;
}


//footer
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #143774;
  color:white;
  padding-bottom: 1em;
  font-size: 1rem;

  p{
    margin-bottom: 0em;
  }
}




// @media(max-width:675px){

//   nav ul {
//     flex-direction: column;
//   }

//   nav li {
//     margin: .5em 0;
//   }
// }